@import "../../style/variables";

.personal-info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &__title {
    width: 716px;
    margin-top: 131px;
    font-size: 64px;
    margin-bottom: 131px;
    font-family: $font-main;
    line-height: 79px;
    color: $main-color;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 37px;
    margin-bottom: 175px;
  }

  &__border {
    padding: 17px 57px;
    width: 455px;
    height: 54px;
    font-size: 14px;
    border: 1px solid #525557;
  }
}

.about {
  width: 939px;
  height: 100vh;
  background: radial-gradient(50% 50% at 50% 50%, #0c0d0e 0%, #151718 73.44%);
}
