@import "../../style/variables";

.personal-info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &__title {
    width: 716px;
    margin-top: 131px;
    font-size: 64px;
    margin-bottom: 131px;
    font-family: $font-main;
    line-height: 79px;
    color: $main-color;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 37px;
  }
}
