@import "../../style/variables";

.personal-info {
  display: flex;
  align-items: center;

  &__conteiner {
    width: 960px;
    height: 1008px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    width: 716px;
    margin-top: 131px;
    font-size: 64px;
    margin-bottom: 131px;
    font-family: $font-main;
    line-height: 79px;
    color: $main-color;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 37px;
    margin-bottom: 175px;
  }

  &__input {
    padding: 17px 57px;
    width: 455px;
    height: 54px;
    font-size: 14px;
    border: 1px solid #525557;
  }
}

.about {
  width: 960px;
  height: 1008px;

  background: radial-gradient(50% 50% at 50% 50%, #0c0d0e 0%, #151718 73.44%);
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    font-family: $font-main;
    color: $main-color;
    margin-top: 112px;
    font-size: 64px;
    margin-bottom: 83px;
  }

  &__description {
    width: 705px;
    font-size: 24px;
    letter-spacing: 0.05em;
    line-height: 200%;
    font-family: $font-secondary;
    color: $secodary-color;
  }
}
