@import "../../style/variables";

.home-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: url("/assets/stars.svg");
  background-color: #202020;
  background-repeat: no-repeat;

  &__title {
    font-family: $font-main;
    padding-top: 175px;
    font-weight: normal;
    margin-bottom: 105px;
    font-size: 96px;
    line-height: 119px;
    color: #fe3b1f;
  }

  &__button {
    font-family: $font-secondary;
    border-radius: 50px;
    width: 395px;
    height: 79px;
    font-size: 24px;
    margin-bottom: 18px;
    background: #fe3b1f;
    color: #ffffff;
  }

  &__subtitle {
    font-family: $font-secondary;
    text-decoration-line: underline;
    font-size: 24px;
    color: #ffffff;
  }

  &__image {
    width: 409px;
    height: 372px;
  }
}
