@import "../../style/variables";

.covid {
  display: flex;
  justify-content: center;

  &__title {
    font-family: $font-main;
    font-size: 64px;
    color: $main-color;
    margin-bottom: 119px;
    margin-top: 61px;
  }

  &__container {
    width: 960px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 51px;
    position: relative;
    width: 455px;
  }

  &__question {
    width: 645px;
    height: 52px;
    font-family: $font-secondary;
    font-size: 18px;
    margin-bottom: 8px;
  }

  &__radio {
    width: 197px;
    height: 21px;
    margin-bottom: 18px;
    margin-right: 7px;
  }

  &__date {
    height: 52px;
  }
  &__input {
    padding: 17px 57px;
    width: 455px;
    height: 54px;
    border: 1px solid #525557;
  }

  &__image {
    width: 16px;
    height: 18px;
    bottom: 16px;
    right: 18px;
    position: absolute;
  }
}
