@import "../../style/variables";

.covid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__title {
    font-family: $font-main;
    font-size: 64px;
    color: $main-color;
    margin-bottom: 119px;
    margin-top: 61px;
  }

  &__question {
    display: flex;
    flex-direction: column;
  }
}
