@import "../../style/variables";

.finish {
  display: flex;
  align-items: center;
  justify-content: center;
  background: radial-gradient(50% 50% at 50% 50%, #0c0d0e 0%, #151718 73.44%);
  height: 100vh;

  &__title {
    font-family: $font-main;
    font-size: 96px;
    color: $main-color;
  }
}
